.fav-badge {
  position: relative;
  display: flex;
  align-items: center;
}

.fav-badge-label {
  margin-left: 5px; /* Add a margin to separate the label from the icon */
  white-space: nowrap; /* Prevent line wrapping */
  text-align: left; /* Align the label to the left */
  padding-left: 200px; /* Adjust the padding as needed to push the label further to the right */
}
