.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(9, 9, 9, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 12px;
  overflow-y: auto;
}

.photo-details-modal-fullscreen {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  border-radius: 12px;
  overflow-y: auto;
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin: 16px;
}

.photo-details-modal--images {
  margin: 16px 36px 8px;
}

.photo-details-modal--image {
  max-width: 100%;
  border-radius: 8px;
}

.photo-details-modal--top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.photo-details-modal--photographer-details {
  font-size: 16px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin: 24px;
  width: 90%;
}

.photo-details-modal-line {
  margin-right: 25px;
  color: lightgray;
}
